body {
  padding-top: 70px;
}
.jumbotron {
  background:url(../images/main.png) center no-repeat;
  background-size: cover;
}

.introduction-container {
}

.introduction-container .container{
}

.introduction-content {
  margin-bottom: 60px;
}

.introduction-question {
}

.introduction-question h3 {
  margin-bottom: 20px;
}

.glossary-container {
}

.glossary-container .container{
}

.glossary-content {
  margin-bottom: 60px;
}

.problem-container {
}

.problem-container .container{
}

.problem-content {
  margin-bottom: 60px;
}

.resolve-container {
}

.resolve-container .container{
}

.resolve-content {
  margin-bottom: 60px;
}

#introduction, #glossary, #problem {
  padding-top: 60px;
}

.red-list {
  list-style-image: url(../images/mark_red.png);
}

.yellow-list {
  list-style-image: url(../images/mark_yellow.png);
}

.pink-list {
  list-style-image: url(../images/mark_pink.png);
}

.green-list {
  list-style-image: url(../images/mark_green.png);
}

.purple-list {
  list-style-image: url(../images/mark_purple.png);
}